.i9Qu0LdxApC7z0Otq0BI3w\=\= {
  width: 300px;
  align-self: center;
}

.njhy2GOGG7NixDuXCdVcxQ\=\= {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.US9-3I1UuAUQ-qzV5HXWuA\=\= {
  align-self: center;
}

*, .RTJARGZDByoMYa-JXJ61wA\=\= {
  background-color: #444444;
  color: #dddddd;
  font-family: Monaco, monospace;
  text-decoration: none;
  font-size: 24px;
  padding: 0;
}

