._3vi42HHkffKV02srvgbJib {
  width: 300px;
  align-self: center;
}

._35ndk9BPL4oHcrxCfoszyu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

._2URDnARqP-40mUl8TsvOZh {
  align-self: center;
}

*, ._30JpVsOqZx32E7gSp4g395 {
  background-color: #444444;
  color: #dddddd;
  font-family: Monaco, monospace;
  text-decoration: none;
  font-size: 24px;
  padding: 0;
}

