._3vi42HHkffKV02srvgbJib {
  width: 300px;
  align-self: center;
}

._35ndk9BPL4oHcrxCfoszyu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

._2URDnARqP-40mUl8TsvOZh {
  align-self: center;
}


._2zZNI9TLQgoRG8TpqUVbXa {
  width: 20ch;
  background-color: #505050;
  margin: 5px;
  text-align: center;
}

._2zZNI9TLQgoRG8TpqUVbXa:hover {
  outline: 3px solid #6dccea;
  transition-timing-function: ease-in-out;
  transition: 0.2s;
}

._2pls32v74s-kr6PCzugPOf {
  display: inline-block;
  width: 100%;
  background-color: #505050;
}

._32JXK_utpcrK7O-et1MzK {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

*, ._3X0Aom5jxsrMjeo9F0A3Gr {
  background-color: #444444;
  color: #dddddd;
  font-family: Monaco, monospace;
  text-decoration: none;
  font-size: 24px;
  padding: 0;
}

